*{
    border: 0px;
    margin: 0px;
}
body{
    background-color: #0DCAF0;
}
.container{
    background-color: white;
    border: none;
    margin-top: 40px;
    width: 400px;
    height: 70vh;
    border-radius: 10px;
}
.form-control{
    height: 50px;
    margin-bottom: 20px;
}
p,h2,a{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
}
h2{
    color: #0DCAF0;
}
a{
    padding-left: 10px;
}

