*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    border: 0px;
    background-color: #007ACC;
}
.top-container{
    width: 850px;
    border: none;
    height: 60vh;
    display: flex;
    flex-direction: row;
}
.l-container{
    background-color: #FFFFFF;
    width: 200px;
    height: 100vh;
}
img{
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: 2px;
    border-radius: 50%;
}
.mag{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.R-container{
    background-image: url("./umbrella.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 600px;
    border: none;
    height: 85%;
}
#name{
    padding-top: 2px;
    font-size: 16px;
    padding-left: 10px;
    color: white;
}
.mainpp{
    position: relative;
    margin-top: 43vh;
    margin-left: 10px;
    width: 50%;
    display: flex;
    flex-direction: row;
    border: none;
}
button{
    background-color: #50C594;
    color: white;
    width: 10%;
    height: 50px;
    margin: 10px 15px;
    text-align: center;
    padding: 15px 15px ;
    border-radius: 5px;
    border: none;
}

.md-container{
    align-items: center;
    margin-top: 20px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    border: none;
    min-height: 50vh;
}
.navigator{
    border: none;
    height: 70px;
    width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 0px;
}
a{
    font-size: 20px;
    color: black;
    padding-left: 20px;
    text-decoration: none;

}
.information{
    margin-top: 10px;
    align-items: center;
    border: none;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.list{
    width: 500px;
    height: 50px;
    background-color: #EEEDF0;
    margin: 5px;
    border-radius: 10px;
}
p{
    font-size: 11px;
    padding-left: 15px;
    padding-top: 25px;
    color: blue;
}
#b-edit{
    width: 90px;
    height: 30px;
    padding-top: 8px;
}
a:visited{
    color: #007ACC;
}
a:hover{
    color: red;
}
a:active{
    color: chartreuse;
}
